$outline-colors: (
        "primary": (
                background: "tw-bg-transparent",
                text: "tw-text-primary-500",
                border: "tw-border tw-border-primary-500",
                backgroundHover: "tw-bg-primary-300 hover:tw-bg-opacity-50",
        ),
        "secondary": (
                background: "tw-bg-transparent",
                text: "tw-text-alvin-purple-500",
                border: "tw-border tw-border-alvin-purple-500",
                backgroundHover: "tw-bg-alvin-purple-500 hover:tw-bg-opacity-50",
        ),
        "success": (
                background: "tw-bg-transparent",
                text: "tw-text-alvin-green",
                border: "tw-border tw-border-alvin-green-500",
                backgroundHover: "tw-bg-alvin-green-300 hover:tw-bg-opacity-50",
        ),
        "danger": (
                background: "tw-bg-transparent",
                text: "tw-text-red-500",
                border: "tw-border tw-border-red-500",
                backgroundHover: "tw-bg-red-300 hover:tw-bg-opacity-50",
        ),
        "warning": (
                background: "tw-bg-transparent",
                text: "tw-text-alvin-orange-500",
                border: "tw-border tw-border-alvin-orange-500",
                backgroundHover: "tw-bg-alvin-orange-500 hover:tw-bg-opacity-50",
        ),
        "info": (
                background: "tw-bg-transparent",
                text: "tw-text-yellow-600",
                border: "tw-border tw-border-yellow-600",
                backgroundHover: "tw-bg-yellow-600 hover:tw-bg-opacity-50",
        ),
        "light": (
                background: "tw-bg-transparent",
                text: "tw-text-gray-600",
                border: "tw-border tw-border-gray-300",
                backgroundHover: "tw-bg-gray-200 hover:tw-bg-opacity-75",
        ),
        "dark": (
                background: "tw-bg-transparent",
                text: "tw-text-gray-200",
                border: "tw-border tw-border-gray-200",
                backgroundHover: "tw-bg-gray-200 hover:tw-bg-opacity-50",
        ),
        "transparent": (
                background: "tw-bg-transparent",
                text: "tw-text-gray-600",
                border: "tw-border tw-border-gray-300",
                backgroundHover: "tw-bg-gray-200 hover:tw-bg-opacity-75",
        ),
);
